.container{
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-h1{
    margin-bottom: 48px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
}

.no-req{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.9375rem;
    margin-left: -.9375rem;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
}

.no-req > h3 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

.no-req > p {
    margin: 0;
    color: #b5b5b5;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -.2px;
    text-align: center;
}



.send-btn > a {
    font-weight: 500;
    display:flex;
    width: 215px;
    height: 48px;
    color: #fff;
    background-color: #00c7ae;
    border-color: #00c7ae;
    cursor: pointer;
    margin: auto;
    justify-content: center;
    border-radius: 4px;
    text-decoration: none;
}

.send-btn > a > span {
    margin: auto;
}

.yes-req{
    display: none;
}
